<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/artists.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Search</title>
</head>
<body>
    <div class="new-artist">
        <form action="/artist" method="post" class="topBefore">
            <h1 class="artistname">Add new artist</h1>
            <input id="name" name="artist-name" type="text" placeholder="Artist name">
            <input id="submit" type="submit" value="Add">
        </form>
    </div>
    <section class="artists-container">
        <div class="container">
            {% if artist %}
            <h1>Artista agregado correctamente: {{artist}}</h1>
            {% else %}
                <h1>Artist list: </h1>
                {% for artist in artists %}
                    <li class="artist">{{artist[1]}}</li>
                {% endfor %}
            {% endif %}
        </div>
    </section>

</body>
</html>